*{
    font-family: "Kanit", sans-serif;
    margin: 0;
    padding: 0; 
    font-size: 62.5%;
}

.body{
    text-align: center;
    margin: 50px;
    border: 8px double black;
}
    

.The{
    font-weight: lighter;
    font-size: 3rem;
    margin-top: 60px;
}

.Analog{
    font-weight: 400px;
    font-size: 50px;
}

.specialists{
    font-weight: lighter;
    font-size: 3rem;
}


hr.bold{
    border: none; 
    height: 3px; 
    background-color: black; 
    width: 60%; 
    margin: 20px auto; 
}

li{
    display: inline;
    font-size: 1.8rem;
    margin: 40px;
}

hr{
    margin: 20px auto;
    width: 60%;
}

img{
    display: inline;
    margin: 10px 0 50px 0;
}

.golden{
    height: 300px;
}

.green{
    height: 300px;
}

.black{
    height: 300px;
}

.description{
    font-size: 2rem;
    margin-bottom: 30px;
}

